/**
 * Header Styles
 * Header and navigation styles
 */

/* Header specific styles will be extracted here */
.site-header .site-branding {
	flex-direction: column;
	align-items: stretch;
}

.site-header {
	padding-inline-end: 0px;
	padding-inline-start: 0px;
}

